root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h,cu,cuh}]
indent_style = space
indent_size = 4

[*.{cmake,CMakeLists.txt}]
indent_style = space
indent_size = 4

[*.{yml,yaml,json,py}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
